<script>
 window.gameName = "<%= @game %>";
</script>

<div class="row">
  <div class="column">
    <div id="root">
      <p>React app not loaded...</p>
    </div>
    <p>Game id: <%= @game %></p>
  </div>
</div>
