<!DOCTYPE html>
<html>
<body>
<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    Game name:<br>
    <input id="gameNameText" type="text" value="">
    <p><a href="/" id="link">Go to game!</a></p>
  </div>
</div>
<script>
let gameNameText = document.getElementById("gameNameText");
let link = document.getElementById("link");

gameNameText.onchange = gameNameText.onkeyup = () => {
  link.href = `http://hw04.sawyerwarden.com/game/${gameNameText.value}`;
}
</script>
</body>
</html>
