/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.GameController {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}

.GameHeader, .ClickCountHeader {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: DarkBlue;
}  

.Card {
  width: 7rem;
  height: 7rem;
  padding: 4px;
  margin: 4px;
  background-color: black;
  border: 2px solid Coral;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 3.5rem;
  text-align: center;
  color: DarkBlue;
}

.Card--flipped {
  background-color: Gainsboro;
  border: 2px solid black;
}

.Card--matched {
  background-color: Lime;
  border: 2px solid DarkBlue;
}
