/* This file is for your main application css. */
@import "~milligram/dist/milligram";
.tile {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  transform-style: preserve-3d;
  position: relative;
  background: purple;
  font-size: 50px;

}
.gameboard {
 width: 400px;
 height: 400px;
 display: flex;
 flex-wrap: wrap;
}


#checkmark {
  color: green;
}

#letters {
  color: yellow;
}

#questionmark {
  color: pink;
}

.control-panel {
  margin-top: 50px;
  margin-left: 30px;
}
